<h1>burguers!</h1>

<h2>Burguers List</h2>

<ul>
  {{#each burguers}}
  {{#unless devoured}}
  <div>{{this.burguer_name}}</div>
  <div>{{this.devoured}}</div>
  <button data-id= {{this.id}} class = "devour">Eat Burguer!</button>
  {{/unless}}

  {{/each}}
</ul>

<h2>burguers Devoured!</h2>

<ul>
  {{#each burguers}}
  {{#if devoured}}
  <div>{{this.burguer_name}}</div>
  <div>{{this.devoured}}</div>
  
  {{/if}}
  {{/each}}
</ul>

<h2>Add a burguer</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burguer-name">burguers Name:</label>
    <input type="text" id="burguer-name" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> devoured!<br>
    <input type="radio" name="devoured" value="0"> Not eaten
  </div>


  <button type="submit">Add burguer</button>
</form>